export(multi_document)
export(renderMultiDocument)
export(dualTable)
export(getVignette)
export(tblNum)
export(tblNumNext)
export(tblNumIncrement)
export(tblCap)
export(tblCapNULL)
export(tblCap_NO_Increment)
export(eqnNumNext)
export(eqnNum)
import(SGP)
import(data.table)
import(rmarkdown)
importFrom(Gmisc, docx_document)
importFrom(Hmisc, latex)
importFrom(htmlTable, htmlTable)
importFrom(jpeg, readJPEG)
importFrom(graphics, rasterImage, plot, text)
importFrom(grDevices, dev.off, jpeg)
importFrom(utils, tail)
