export(multi_document)
export(renderMultiDocument)
export(dualTable)
export(tblNum)
export(tblNumNext)
export(tblNumIncrement)
export(tblCap)
export(tblCap_NO_Increment)
export(eqnNumNext)
export(eqnNum)
importFrom(Grmd, docx_document)
importFrom(latex, Hmisc)
importFrom(htmlTable, htmlTable)
importFrom(jpeg,readJPEG)
importFrom(graphics, rasterImage)